
/* Farben / Farbwelt
-------------------------------------------------------------- */
$white:           #ffffff; /* white */
$black:           #000000; /* black */
$basicFontColor:  #333333; /* black */
$primaryColor:    #ffe69b; /* orange */

$bgPageStart:     #828c91;
$bgPageEnd:       #646d74;

$borderModules:   #343b42;
$bgMarginal:      #58626a;

$bgWhiteGradient: #cdd7dc;

$red: #cc0839; /* red */
$blue: #009ef2; /* blue */
$purple: #532a54; /* purple */
$pink: #e2007a; /* pink */
$yellow: #f39900; /* yellow */
$orange: #e64715; /* orange */


/* Durations
-------------------------------------------------------------- */
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .5s;
