
/* Farben / Farbwelt
-------------------------------------------------------------- */
$white:           #ffffff; /* white */
$greyLight:       #d6dddf; /* light grey */
$greyDark:        #333333; /* dark grey */
$black:           #000000; /* black */
$yellow:          #f39900; /* yellow */

$primaryColor:    #ffe69b; /* orange */

$fontColorBasic:  $greyDark;  /* blackish grey */
$fontColorLight:  $greyLight; /* grey on white bg */
$fontColorLinks:  $yellow;    /* active links */

$bgPageStart:     #828c91;
$bgPageEnd:       #646d74;

$borderModules:   #343b42;
$bgMarginal:      #58626a;

$bgWhiteGradient: #cdd7dc;

/* Durations
-------------------------------------------------------------- */
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .5s;
