
body {
	color: $fontColorBasic;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.page {
	background: $bgPageStart;
}
.page--main {
	border: 2px solid $borderModules;
	background: $white;
}
.page--marginal {
	h3 {
		color: $white;
		font-size: 2rem;
		line-height: 2.4rem;

		sup {
			font-size: 0.8rem;
			line-height: 2.4rem;
			vertical-align: bottom;
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}


@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}